<%= form_for(@repair_request) do |f| %>
  <% if @repair_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair_request.errors.count, "error") %> prohibited this repair_request from being saved:</h2>

      <ul>
      <% @repair_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :open_date %><br />
    <%= f.date_select :open_date %>
  </div>
  <div class="field">
    <%= f.label :close_date %><br />
    <%= f.date_select :close_date %>
  </div>
  <div class="field">
    <%= f.label :request_details %><br />
    <%= f.text_area :request_details %>
  </div>
  <div class="field">
    <%= f.label :request_response %><br />
    <%= f.text_area :request_response %>
  </div>
  <div class="field">
    <%= f.label :submitter_id %><br />
    <%= f.number_field :submitter_id %>
  </div>
  <div class="field">
    <%= f.label :responder_id %><br />
    <%= f.number_field :responder_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
